*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --fondo-principal: rgb(118,39,187);
    --fondo-principal-resaltado: rgb(98, 16, 169);
}

.btn-morado{
    background: var(--fondo-principal);
    color:white;
}

.btn-morado:hover{
    color:white;
    background-color: var(--fondo-principal-resaltado);
    border-color: var(--fondo-principal);
}


/*Mobile First
.navbar .container-fluid{
    height: 100px;
}

Pantallas grandes
@media (min-width: 992px) {
    .navbar .container-fluid{
        height: auto;
    }
}
*/

/*Desktop First*/
@media (max-width: 991px) {
    .navbar .container-fluid{
        height: 100px;
    }
}
