*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #000;
    padding: .5rem;
    display: flex;
    /* No funcional para animaciones
    justify-content: start;
    animation-name: cambiarDespliegue;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    */
}

div{
    text-align: center;
    padding: .5rem;
    background: #fff;
    color:brown;
    width: 100px;
    animation-name: desplazar, rotar;
    animation-duration: 2s,.5s;

    /*animation-timing-function:  cubic-bezier(0.55, 0.06, 0.68, 0.19), cubic-bezier(0, 1.29, 0.58, 1);*/
    animation-iteration-count: 1,4; /*3, 1;*/
    
    
    /*animation-delay: 0s, 6s;*/
    /*animation-delay: 2s;*/
    
}

@keyframes desplazar {
    from{
        margin-left: 0;
    }
    to{
        margin-left: calc(50% - 50px);
        /*transform: translateX(-50%);*/
    }    
}

@keyframes rotar {
    0%{
        transform: rotateZ(1deg);
    }
    100%{
        transform: rotateZ(900deg);
    }

}

/*
@keyframes cambiarDespliegue {
    0%{
        justify-content: start;
    }
    100%{
        justify-content: center;
    }
}
*/