*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.texto{
    display: flex;
    justify-content: center;
    padding: 2rem;
    perspective:600px;
    perspective-origin: center bottom;
}

.texto div{
    padding: 1.5rem;
    font-size: 6rem;
    background: rgb(170, 191, 251);
    transform: rotateX(90deg);
}

@keyframes rotar {
    from{
        transform: 'rotateX(90deg)' 
    }
}